
body{
            background: linear-gradient(to top,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%),url(../ressources/back2.jpg);
            min-height: 95vh;
            background-repeat: no-repeat !important;
            background-size: cover;
            margin: 0;
            padding: 0;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            /* overflow-y:hidden; */
            overflow-x:hidden;
        }
        *::-webkit-scrollbar {
          width: 5px;
          }
          
          *::-webkit-scrollbar-track {
          background: black;
          }
          
          *::-webkit-scrollbar-thumb {
          background-color: rgb(255, 255, 255);
          border-radius: 20px;
          /* border: 2px solid  rgb(0, 0, 0); */
          }
        nav{
            display:flex;
            justify-content: space-between;
            margin-top:2%;
        }
        .dlogo{
            width:9.9%;
        }
        
        .logo{
            width:100%;
            height:auto;
            margin-left:10%;
        }
        nav .menuli {
            display: flex;
            margin-right:6%;
            justify-content: space-between;
            align-items: center;
        }

        nav .menuli li {
            list-style: none;
            margin-left: 50px;
        }

        nav .menuli a {
            text-decoration: none;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 0.7rem;
            color: white;
            font-weight: 500;
            font-size: 1.5rem;
            font-family: 'Iceberg', cursive;
        }
        .burmenu{
            margin-right:3%;
            margin-top: 1%;
        }
        .menu{
            width: 25px;
        }
        .menu-items{
            background-color: white;
            text-decoration: none;
            color: Black;
            padding: 4%;
            width: 7%;
            margin-top: -2%;
            border-radius: 10px 0 10px 10px;
            transition: transform 0.5s ease-in-out;
            transform: translate(40%);
            z-index:1;
            position: absolute;
            text-align:center;
        }
        .menu-items li{
            list-style: none;
        }
        .menu-items a{
            text-decoration: none;
            color: black;
            font-family: 'Iceberg', cursive;
        }
        
.burmenu input[type="checkbox"]:checked ~ .menu-items {
  transform: translate(-88%);
  
}

.burmenu input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background-color: black;

}

.burmenu input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);

}

.burmenu input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background-color: black;

}

/* .burmenu input[type="checkbox"]:checked ~ .logo{
  display: none;
} */
        /* #dropdown{
            display:none;
        }
         */

        .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 32px;
    right: 36px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  z-index:2;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  z-index:2;
  background-color: red;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  z-index:2;
 
}
.li1{
    margin-top:2%;
}
.li2{
    margin-top:50%;
}
.footer{
    font-family: 'Iceberg', cursive;
    font-size:12px;
    position:absolute;
    bottom: 0;
}
section{
  margin-top: 3%;
  margin-left: 2%;
  display:flex;
  justify-content:space-between;
}
section button{
  border:2px solid white;
  border-radius:10px;
  background:none;
  height: 80%;
  width: 35%;
  color:white;
  margin-left: 15px;
  font-family: 'Iceberg', cursive;
  font-size:15px;
  cursor:pointer;
}
section button a{
  text-decoration:none;
  color:white;
}
.content{
  display: flex;
  margin-left: 3%;
  flex-wrap: wrap;
  color:white;
}
.carte{
    border-radius:10px;
    border:solid 3px white;
    width: 46%;
    height: 280px;
    margin-right:2%;
    margin-top:3%;
    display: flex;
    
}

.cart{
  border-radius:10px;
  border:solid 3px RED;
    width: 30%;
    height: 350px;
    margin-right:2%;
    margin-top:3%;
}
.pic{
  width:50%;
}
.pic img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:5px 0 0 5px;
}
.contentpost{
  font-family: 'Iceberg', cursive;
  margin-left: 2%;
}
.desc{
  max-width: 240px;
  max-height: 35%;
  overflow: auto;
}
.active{
  border-bottom:solid 2px red;
}
.btnsec{
  width:60%;
}
.addP{
  color: white;
    width: 17%;
    display: flex;
    align-items: center;
    font-family: 'Iceberg', cursive;
}
.addP a{
  width:100%;
}
.addP img{
  width:20px;
  cursor:pointer;
}
.addP p{
  width: 100%;
}
.end{
  background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    font-family: 'Iceberg', cursive;
    font-weight:bold;
}
.container{
  padding-bottom: 2%;
}

#operclose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 6px;
  }

.addPost{
  background:white;
  border-radius:10px;
  color:black;
  display:flex;
  flex-direction: column;
  padding: 15px;
  width: 35%;
  margin-left: 27.5%;
  position:fixed;
  top: 20%;
  display: none;
}
.addPost form{
  display:flex;
  flex-direction: column;
  
}
.addPost h3{
  text-align: center;
  font-family: 'Iceberg', cursive;
}
.addPost form select {
  padding: 5px 8px;
    width: 100%;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: none;
}
.addPost form textarea{
  padding: 5px 8px;
    max-width: 95%;
    min-width: 95%;
    box-shadow: none;
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    background: none;
}
.btnPost{
  border: 2px solid black;
    border-radius: 20px;
    background: none;
    /* height: 72%; */
    width: 37%;
    color: black;
    margin-left: 33%;
    font-family: 'Iceberg', cursive;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
}
.show {display:block;}

.priceimg{
  position: absolute;
    /* z-index: 10; */
    width: 80px;
    margin-left: -24%;
    margin-top: -4px;
}
.price{
  position: absolute;
    color: white;
    margin-left: -23.5%;
    margin-top: 3%;
    /* transition: transform 0.2s ease-in-out; */
    /* transform-origin: 18% 84%; */
    transform: rotate(-36deg);
}
.inputPrice{
  padding: 5px 8px;
    width: 85%;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: none;
}
@media only screen and (max-width: 600px) {
  body{
    min-height: 100vh;

  }
    nav  .menuli{
        display:none;
    }
    .menu-items {
      display:none;
      width: 50%;
      margin-top: -10%;
      padding: 6%;
      margin-left: 50px;
    }
    .burmenu input[type="checkbox"]:checked ~ .menu-items {
      display:block;
      transform: translate(-103%);
  
    }
    .li1 {
    margin-top: 20%;
    }
    .checkbox{
      top: 6px;
    right: 17px;
    }
    .footer{
      margin-left:50px;
    }
    .content{
      margin-left: 2%;
    }
    .carte{
      width: 99%;
    }
    .priceimg{
      margin-left: -56%;
    }
    .price{
      margin-left: -53.5%;
      margin-top: 10.5%;
      font-size: 14px;
    }
    .end{
      width: 35%;
      margin-left: 32%;
    }
    .pic {
    width: 132%;
}
.contentpost{
  margin-left: -7%;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}
.pic img{
  width: 85%;
}
.btnsec {
    width: 100%;
    height: 65px;
    margin-top: 6%;
}
.addP{
  width: 56%;
    margin-left: 31%;
}
section{
  flex-direction: column;
}
.logo {
    width: 200%;
}
.addPost{
  width: 89%;
  margin-left: 0%;
}
section button{
  width: 42%;
}

  }

